* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family:'Poppins';
    background-color: rgba(30, 37, 43, 1);
}

a {
    color: inherit; 
    text-decoration: none; 
    display: block;
}

button, i {
    cursor: pointer;
}

.header-container__logo-and-title_title {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    color: #FFFFFFE5;

}

.header-container__main-navigation__navigation-list__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF8C;
    margin-top: 6px;
}

.header-container__navigation__autorization__login-button {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFFC7;
}

.header-container__navigation__autorization__sign-up-button {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #FDF5FF;
    background-color: #FF6E30;
    width: 118px;
    height: 48px;
    top: 26px;
    left: 1214px;
    gap: 0px;
    border-radius: 8px 8px 8px 8px;
    opacity: 0px;
    border: 0;
}

.header-container__search__headline {
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    color: #FFFFFFE5;
    margin-bottom: 30px;
}

.dot {
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    color: #FF6E30;
}

.header-container__search__description, .main-content__tools-list__item__inner__card-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 30px;
    text-align: left;
}

::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.main-content__tools-list__item__inner__logo-and-description__name-and-payment__card-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #FFFFFFC7;
}

.main-content__tools-list__item__inner__logo-and-description__name-and-payment__card-payment {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #FFA5378C;
}

.main-content__tools-list__item__inner__card-options__visit-button {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border: none;
    color: rgba(255, 255, 255, 0.55);
    background-color: rgba(30, 37, 43, 1);
    margin-right: 13px;
    width: 106px;
    height: 42px;
    border-radius: 8px;
}


.load-more-button {
    width: 184px;
    height: 64px;
    background: none; 
    font: inherit;
    cursor: pointer; 
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;

    background-color: rgba(30, 37, 43, 1);
    border: 1px 1px 1px 1px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(255, 110, 48, 1);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container__headline {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 55px;
    margin-top: 55px;
    padding-top: 55px;
}

header {
    height: 700px;
    width: 1440px;
    background-image: url('../img/background.png');
    margin: 0 auto;
    margin-bottom: 200px;
}

.header-container__navigation {
    width: 1224px;
    height: 48px;
    margin: 26px 105px 104px 111px;
    display: flex;
}

.header-container__logo-and-title {
    width: 140px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 257px;
    align-items: center;
}

.header-container__logo-and-title a {
    display: flex;
    align-items: center;
}

.header-container__main-navigation {
    width: 431px;
    align-items: center;
}

.header-container__main-navigation__navigation-list {
    margin-right: 193px;
    width: 431px;
    height: 48px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-container__navigation__autorization {
    margin-left: 193px;
    width: 203px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container__search {
    width: 600px;
    height: 354px;
    margin-left: 111px;
    margin-bottom: 110px;
}

.header-container__search__input {
    width: 498px;
    height: 64px;
    background-color: rgba(40, 48, 54, 1);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin-top: 60px;
}

.header-container__search__input__wrapper {
    width: 468px;
    height: 48px;
    padding: 8px 11px 8px 18px;
    display: flex;
    align-items: center;
}

.header-container__search__input__wrapper input {
    width: 300px;
    height: 60px;
    border: none;
    margin-left: 13px;
    outline: none;
    background-color: rgba(40, 48, 54, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
}

.header-container__search__input__search-button {
    margin-left: auto;
    background: rgba(255, 110, 48, 1);
    border-radius: 8px;
    width: 130px;
    height: 48px;
    border: none;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.header-container__social-media__list {
    display: flex;
    width: 190px;
    height: 58px;
    justify-content: space-between;
    align-items: center;
    margin-left: 111px;
}

.header-container__social-media__list__item {
    padding: 12px;
}

.main-content {
    width: 1224px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.main-content__head__headline {
    font-size: 48px;
    font-weight: 500;
    line-height: 62.4px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 25px;
    text-align: center;
}

.main-content__head__description {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
}

.main-content__head {
    margin-bottom: 90px;
}

.main-content__tools-list__item__inner {
    padding: 20px;
}

.main-content__tools-list__item__inner__logo-and-description {
    width: 350px;
    height: 66px;
    margin-bottom: 30px;
    display: flex;
}

.main-content__tools-list__item__inner__logo-and-description a {
    margin-right: 30px;
}


.main-content__tools-list__item__inner__card-options {
    display: flex;
    justify-content: space-between;
}

.main-content__tools-list__item__inner__card-options__like-and-add__add {
    border-radius: 8px;
    width: 42px;
    height: 42px;
    margin-right: 12px;
    align-items: center;
}

.main-content__tools-list__item__inner__card-options__like-and-add__like {
    border-radius: 8px;
    width: 42px;
    height: 42px;
    margin-right: 12px;
    align-items: center;
    padding: 7px;
}

.main-content__tools-list__item__inner__card-options__like-and-add__like__img {
    cursor: pointer;
}

.main-content__tools-list__item__inner__card-options__like-and-add__like__img:hover, .liked {
    fill: rgba(253, 59, 65, 1);
}


.main-content__tools-list__item__inner__card-options__like-and-add__add img {
    padding: 7px;
}

.main-content__tools-list__item__inner__card-options__like-and-add {
    display: flex;
}

.main-content__tools-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin-bottom: 100px;
}

.main-content__tools-list__item {
    background-color: rgba(30, 37, 43, 1); 
    text-align: center;
    border-radius: 15px;
    margin-bottom: 100px;
    gap: 25px;
    width: 392px;
    height: 294px;

    transition: transform 0.3s ease, background-color 0.3s ease; 
    margin: 10px; 
}

.main-content__tools-list__item:hover .main-content__tools-list__item__inner__logo-and-description__name-and-payment__card-payment {
    color: rgba(255, 165, 55, 1); 
}

.main-content__tools-list__item:hover .main-content__tools-list__item__inner__card-options__visit-button {
    width: 106px;
    height: 42px;
    color: rgba(255, 255, 255, 1);
    background-color: #FF6E30;
}

.main-content__tools-list__item:hover {
    transform: translateY(-10px); 
    background-color: rgba(40, 48, 54, 0.6); 
    background-image: url('../img/card-mask-hover.png');
}

.main-content__tools-list__item__inner__logo-and-description__name-and-payment {
    text-align: left;
}

.footer-container {
    width: 1224px;
    height: 253px;
    margin: 0 auto;
    border-radius: 25px;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255. 0.1);
    background-color: rgba(44, 53, 61, 0.2);
    margin-bottom: 48px;
    background-image: url('../img/footer_mask.png');
}

.footer-container__brands-list {
    width: 1059px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}